<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3> businessCards </h3>
      </div>
        <p class="navbar-text navbar-right">
          <button class="btn btn-primary" type="button" (click)="navToHome()">Home</button>
          <button class="btn btn-primary" type="button" (click)="navNewCard()">Add New Card</button>
      
          <button class="btn btn-secondary" type="button" (click)="logout()">Logout</button>
        </p>
  
    </div>
  </nav>
        